<section class="contact-section">
  <div class="container">
    <div class="row">
      <!-- Form Column -->
      <div class="col-md-6 contact-form-col">
        <form [formGroup]="contactForm" class="row p-4">
          <div class="mb-3">
            <h1>Contáctanos</h1>
          </div>
  
          <div class="d-flex align-items-center mb-3">
            <!-- Campo Nombre -->
            <div class="form-group me-3 w-50">
              <label for="name" class="form-label">Nombre</label>
              <input id="name" formControlName="name" type="text" class="form-control" readonly>
            </div>
            
            <!-- Campo Apellido -->
            <div class="form-group w-50">
              <label for="lastName" class="form-label">Apellido</label>
              <input id="lastName" formControlName="lastName" type="text" class="form-control" readonly>
            </div>
          </div>

          <!-- Campo Correo Electrónico -->
          <div class="form-group mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input id="email" formControlName="email" type="text" class="form-control" readonly>
          </div>
  
          <div class="form-group mb-3">
            <label for="subject" class="form-label mb-2">Asunto</label>
            <input id="subject" formControlName="subject" type="text" class="form-control">
          </div>
  
          <div class="form-group mb-5">
            <label for="message" class="form-label mb-2">Mensaje</label>
            <textarea id="message" formControlName="message" class="form-control"></textarea>
          </div>
  
          <div class="d-flex justify-content-end">
            <button (click)="sendEmail()" [disabled]="contactForm.invalid" class="btn btn-purple" type="button">Enviar</button>
          </div>
        </form>
      </div>
  
      <!-- Contact Information Column -->
      <div class="col-md-6 contact-info-col">
        <div class="p-4">
          <h4>¡Nuestra Información!</h4>
          <div class="contact-item mb-3">
            <i class="bi bi-telephone me-2"></i>
            <span>+506 87-31-93-23</span>
          </div>
          <div class="contact-item mb-3">
            <i class="bi bi-envelope me-2"></i> 
            <span>innovacodegroupcr&#64;gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
