<div class="login-container">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="login-card">
        <div class="w-100">
          <div class="text-center">
              <h1 class="magicbooth-title">
                MagicBooth
              </h1>
          </div>
          <div class="login-main">
            <form autocomplete="off" #frm="ngForm" (ngSubmit)="onSubmit(frm)">
              <div class="mb-3">
                <h2>Ingresa tu token y tu contraseña nueva</h2>
              </div>
              <div class="form-group mb-3 position-relative">
                <label for="token" class="form-label mb-2">
                  Token
                </label>
                <input
                  #token="ngModel"
                  type="text"
                  class="form-control pl-5"
                  id="token"
                  name="token"
                  placeholder="Token"
                  [(ngModel)]="sendForm.token"
                  [ngClass]="{
                    'is-invalid': token.invalid && token.touched,
                    'is-valid': token.valid && token.touched
                  }"
                  required
                />
              </div>
              <div *ngIf="token.invalid && token.touched" class="invalid-feedback">
                Set a valid token
              </div>
              <div class="form-group mb-4 position-relative">
                  <label for="password" class="form-label mb-2">Contraseña nueva</label>
                  <input
                    #password="ngModel"
                    type="text"
                    class="form-control pl-5"
                    id="password"
                    name="password"
                    placeholder="Nueva contraseña"
                    [(ngModel)]="sendForm.newPassword"
                    [ngClass]="{
                      'is-invalid': password.invalid && password.touched,
                      'is-valid': password.valid && password.touched
                    }"
                    required
                  />
                  <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                    Set a valid password
                  </div>
                  <a href="/login">Vuelve a iniciar sesion</a>
                </div>
              <!-- Submit Button -->
              <div class="form-group mb-0">
                <button class="btn btn-purple btn-block w-100" type="submit">
                  Recuperar
                </button>
                @if(validRequest && !requestError) {
                  <p class="text-success">Contraseña cambiada correctamente</p>
                }
                @if(requestError && !validRequest) {
                  <p class="text-danger">Oops, algo salio mal</p>
                }
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
