<div class="login-container">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="login-card">
        <div class="w-100">
          <div class="text-center">
              <h1 class="magicbooth-title">
                MagicBooth
              </h1>
          </div>
          <div class="login-main">
            <form autocomplete="off" #frm="ngForm" (ngSubmit)="onSubmit(frm)">
              <div class="mb-3">
                <h2>Ingresa tu correo para recuperar tu contraseña</h2>
              </div>
              <div class="form-group mb-3 position-relative">
                <label for="email" class="form-label mb-2">
                  Correo electronico
                </label>
                <input
                  #email="ngModel"
                  type="text"
                  class="form-control pl-5"
                  id="email"
                  name="email"
                  placeholder="agent@gmail.com"
                  [(ngModel)]="recovery.email"
                  [ngClass]="{
                    'is-invalid': email.invalid && email.touched,
                    'is-valid': email.valid && email.touched
                  }"
                  required
                />
                <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                  Ingresa un correo valido
                </div>
                <a href="/login">Vuelve a iniciar sesión</a>
              </div>
              <!-- Submit Button -->
              <div class="form-group mb-0">
                <button class="btn btn-purple btn-block w-100" type="submit">
                  Recuperar
                </button>
                <div *ngIf="validRequest" class="text-success">
                  Token enviado correctamente, revise su correo.
                </div>
                <div *ngIf="requestError && !validRequest" class="text-danger">
                  Error enviando el token, verifique sus credenciales.
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>