button:disabled {
  cursor: pointer;
  background: #000000;
  color: #8f34e6 !important;
}

.pagination .page-item .page-link{
  color: var(--general-btn-font-color);
  font-family: var(--general-btn-font-family);
}

.pagination .page-item button:enabled{
  background-color: var(--active-link-color);
}